.scroll{
    overflow-y: scroll;
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #4e4c7c9f;
    border-radius: 20px 0 0 20px;
}
.box{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "p p p c c c c c c c c c"
    "p p p c c c c c c c c c"
    "f f f c c c c c c c c c"
    "f f f c c c c c c c c c"
    "f f f c c c c c c c c c"
    ;
    animation: show 1s ease-out forwards;
    color: white;
    overflow: hidden;
}
.newbox{
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
@keyframes show {
    0%{top: 65%; opacity: 0;}
    100%{top: 55%; opacity: 1;}
}
.box1{
    grid-area: p;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-flow: column;
    padding: 20px;
    background-color: #4e4c7c9f;
    border-radius: 20px;
}
.box3{
    grid-area: f;
    background-color:#4e4c7c6f ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    padding: 10px 0;
    border-radius: 20px;
}
.box1 h3{
    font-size: 14px;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
button{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    border: 1px solid #ffffff;
    background-color: #27ca5a89;
}
button:hover{
    background-color: #4c7c5700;
    color: white;
}
.scroll h3{
    margin-top: 30px;
}
table{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex ;
    align-items: start;
    /* justify-content: space-between; */
    flex-flow: column;
}
.boxbuy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: white;
    z-index: 100;
}
.boxbuy h3 {
    z-index: 200;
}
.buyIcon{
    top: -80px;
    font-size: 70px;
    position: absolute;
    color: #2cdf50aa;
    z-index: 99;
}
.boxicon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #ffcbcb;
    z-index: 100;
}
.link{
    color: #0d00ff9f;
    cursor: pointer;
    z-index: 100;
}
.icon{
    z-index: 200;
    top: -80px;
    font-size: 70px;
    position: absolute;
    color: #fa3e3e8d;
}
@media screen and (max-width:1500px){
    .scroll{
        overflow-y: scroll;
        grid-area: c;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: #4e4c7c9f;
        border-radius: 20px 0 0 20px;
    }
    .box{
        position: absolute;
        width: 80%;
        height: 80%;
        top: 55%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "f f f f f f f f f f f f"
        "p p p c c c c c c c c c"
        "g g g c c c c c c c c c"
        "g g g c c c c c c c c c"
        "g g g c c c c c c c c c"
        ;
        animation: show 1s ease-out forwards;
        color: white;
        overflow: hidden;
    }
    .newbox{
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .box3{
        grid-area: f;
        background-color:#4e4c7c6f ;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;
        padding: 10px 0;
        border-radius: 20px;
    }
}