.newDiv{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    height: 100%;
    width: 300px;
}
.green{
    color: #19c919;
}
.box10{
    /* position: absolute; */
    width: 210px;
    background-color: #4e4c7c9f;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.details{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column;
    font-size: 12px;
}
.details .link{
    color: #8c8cdf;
    font-size: 12px;
    /* padding-left: 10px; */
}
.box10 .img2{
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.box10 .img2 .img3{
    width: 40px;
    height: 40px;

}
@media screen and (max-width:1500px){
    .newDiv{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row;
        height: 100%;
        width: 100%;
    }
    .box10{
        /* position: absolute; */
        /* width: 200px; */
        background-color: #4e4c7c9f;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width:800px){
    .newDiv{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: column;
        height: 150px;
        width: 80%;
        overflow-y: scroll;
    }
    .box10{
        /* position: absolute; */
        width: 200px;
        background-color: #4e4c7c9f;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}